@import
url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=E
stonia&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Out
fit:wght@100;200;300;400&family=Poppins:wght@100;200;400&family=Roboto
+Condensed:wght@300&display=swap');
Page | 56
body{
background: bisque;
}
header{
background-color: black;
padding: 20px;
}
