*{ box-sizing: border-box; 
    margin: 0; padding: 0; 
    font-family: Poppins;
    }
    body{ background: 
    #3d999f;
    }
    h1{
    margin: 10px; 
    padding: 10px; textalign: center; 
    color: antiquewhite;
    }
    div{ margin: 10px; padding: 
    10px; background: 
    antiquewhite; borderradius: 50px; opacity: 
    80%;
    }